* {
	display: block;	
	background-color:lightgrey;
	font-family: 'Hind Siliguri', sans-serif;
}

head {
	display: none;   <!--head ausblenden--!>
}




button {
	margin:0.3em 0em;
	background-color:blue;
	color:white;
	border:1px solid blue;
}